<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YATA HTA index</title>
</head>
<body>
<h1>YATA HTA</h1>
<h2>Usuarios:</h2>

{% if users_list %}
    <ul>
        {% for user in users_list %}
            <li><a href="{% url 'yatahta:user_detail' user.id %}">{{ user.nick }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users are available.</p>
{% endif %}

</body>
</html>