<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ user.nick }}</h1>
<p>Fecha de nacimiento: {{ user.birthday }}</p>
<h2>Medicación:</h2>
{% comment %}<ul>
    {% for drug in user.drugs_set.all %}
        <li>{{ drug.name }}</li>
    {% endfor %}
</ul>{% endcomment %}
</body>
</html>